<!DOCTYPE html>
<html>
<head>
	<title>About</title>
	<link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
</head>
<body>
	<header>
		<h1 style="color:white; text-align: center; font-size: 48px;">About Me</h1>
		<nav>
			<a href="/" class="nav-button">Home</a>
			<a href="/about" class="nav-button">About</a>
			<a href="/projects" class="nav-button">Skills & Projects</a>
			<a href="/contact" class="nav-button">Contact</a> 
			<a href="/resume" class="nav-button">CV</a>
		</nav>
		<img src="{{url_for('static',filename='images/myphoto.jpeg')}}" alt="My Photo" width="700" class="center-image">
		
		<ul style="color:white; margin:0px 0 0 600px; text-align:left; width:800px; list-style-type:none; padding:0; font-size: 20px;">
			<li><strong><br><br>Name:</strong></strong><span style="padding-left: 125px;">Siphokazi Danisile</span></li>
			<li><strong><br>Surname:</strong></strong><span style="padding-left: 95px;"> Malesa</li></span>
			<li><strong><br>Nationality:</strong></strong><span style="padding-left: 85px;">South African</span></li>
			<li><strong><br>Gender:</strong></strong><span style="padding-left: 115px;">Female</span></li>
			<li><strong><br>Marital Status:</strong><span style="padding-left: 60px;"> Single</span></li>
			
			<li><strong><br>Languages:</strong><span style="padding-left: 85px;">English, Afrikaans, Setswana, Sepedi, IsiZulu</span></li>
			<li><strong><br></strong></li>
  		</ul>
		
		<p style="text-align: center; font-size: 20px;">
		------------------------------------------------------------------------------------------------------------------------
		<br><br>
		A 22 year-old, currently pursuing a Bachelor of Sciences in Information Technology at North West 
		University, with an expected graduation in November 2025, <br>I have honed my skills in structured programming, 
		object-oriented programming, web development, and database management.<br><br>My coursework, complemented by a GPA of 67.29 
		and recognition through Golden Key, reflects my dedication to academic excellence and professional growth. <br><br>My 
		technical proficiency includes programming languages such as C#, Python, and JavaScript, alongside expertise 
		in database management using MySQL and network configuration<br>with Cisco Packet Tracer. I have applied these 
		skills in diverse projects, including the development of an online campus clinic appointment system<br>and a 
		streaming service database system, where I leveraged my knowledge of backend development and user interface design. 
		<br><br>Beyond technical skills, my role as Marketing and Public Relations Officer for both the Geekulcha Student Society 
		and the Faculty of Natural and Agricultural Sciences <br>highlights my ability to effectively communicate complex 
		ideas, manage projects, and foster inclusive environments. <br>Additionally, my current position as Transformation 
		and Diversity Officer at Acacia Ladies Day House Residence underscores my commitment to promoting diversity, 
		inclusion, and student well-being.</p>
	</header>
</body>
</html>