<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>My Projects</title>
	<link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
</head>

<body>
	<h1 style="color:white; text-align: center; font-size: 48px;">My Skills and Projects</h1>
	<nav>
			<a href="/" class="nav-button">Home</a>
			<a href="/about" class="nav-button">About</a>
			<a href="/projects" class="nav-button">Skills & Projects</a>
			<a href="/contact" class="nav-button">Contact</a>
			<a href="/resume" class="nav-button">CV</a>
		</nav>
	
	<h1 style="color:white; text-align: center; font-size: 48px;">Skills</h1>
	<div class="project"; style="color:white;">
		<h2 style="color: white; margin: 0;">
		
		<span style="position: relative; top: -15px;">Programming Languages:</span>
		<img src="{{ url_for('static', filename='images/icons8-c-sharp-logo-48.png') }}" alt="C sharp" width="50" style="margin-right: 10px;">
		<img src="{{ url_for('static', filename='images/icons8-c++-48.png') }}" alt="C++" width="50" style="margin-right: 10px;">
		<img src="{{ url_for('static', filename='images/icons8-python-48.png') }}" alt="Python" width="50" style="margin-right: 10px;">
		<img src="{{ url_for('static', filename='images/icons8-java-48.png') }}" alt="JavaScript" width="50" style="margin-right: 10px;">
		<img src="{{ url_for('static', filename='images/icons8-scratch-48.png') }}" alt="Scratch" width="50" style="margin-right: 10px;">
		
		</h2>
	</div>
	
	<div class="project"; style="color:white;">
		<h2 style="color: white; margin: 0;">
		
		<span style="position: relative; top: -15px;">Development Tools & Frameworks:</span>
		<img src="{{ url_for('static', filename='images/icons8-visual-studio-code-2019-48.png') }}" alt="Visual Studio" width="50" style="margin-right: 10px;">
		<img src="{{ url_for('static', filename='images/icons8-visual-studio-48.png') }}" alt=".NET Framework" width="50" style="margin-right: 10px;">
		<img src="{{ url_for('static', filename='images/icons8-github-logo-94.png') }}" alt="GitHub" width="50" style="margin-right: 10px;">
		
		</h2>
	</div>
	
	<div class="project"; style="color:white;">
		<h2 style="color: white; margin: 0;">
		
		<span style="position: relative; top: -15px;">Operating Systems:</span>
		<img src="{{ url_for('static', filename='images/icons8-windows-48.png') }}" alt="Windows" width="50" style="margin-right: 10px;">
		
		</h2>
	</div>
	
	<div class="project"; style="color:white;">
		<h2 style="color: white; margin: 0;">
		
		<span style="position: relative; top: -15px;">Networking:</span>
		<img src="{{ url_for('static', filename='images/icons8-cisco-packet-tracer-50.png') }}" alt="Cisco Packet Tracer" width="50" style="margin-right: 10px;">
		
		</h2>
	</div>
	
	<div class="project"; style="color:white;">
		<h2 style="color: white; margin: 0;">
		
		<span style="position: relative; top: -15px;">Productivity Tools:</span>
		<img src="{{ url_for('static', filename='images/icons8-microsoft-office-48.png') }}" alt="Microsoft Office" width="50" style="margin-right: 10px;">
		
		</h2>
	</div>
	
	<div class="project"; style="color:white;">
		<h2 style="color: white; margin: 0;">
		
		<span style="position: relative; top: -15px;">Other Technical Areas:</span>
		<img src="{{ url_for('static', filename='images/icons8-quantum-computing-64.png') }}" alt="Quantum Computing" width="50" style="margin-right: 10px;">
		
		</h2>
	</div>
	
	<div class="project"; style="color:white;">
		<h2 style="color: white; margin: 0;">
		
		<span style="position: relative; top: -15px;">Soft Skills:</span>
		<img src="{{ url_for('static', filename='images/icons8-critical-thinking-50.png') }}" alt="Critical thibking" width="50" style="margin-right: 10px;">
		<img src="{{ url_for('static', filename='images/icons8-problem-solving-skills-50.png') }}" alt="Problem solving" width="50" style="margin-right: 10px;">
		<img src="{{ url_for('static', filename='images/icons8-team-collaboration-50.png') }}" alt="Team collaboration" width="50" style="margin-right: 10px;">
		<img src="{{ url_for('static', filename='images/icons8-leadership-50.png') }}" alt="Leadership" width="50" style="margin-right: 10px;">
		
		</h2>
	</div>
	
	<h1 style="color:white; text-align: center; font-size: 48px;">Projects</h1>
	<div class="project"; style="color:white;">
		<h2 style="color: white; margin: 0;">
		<img src="{{url_for('static',filename='images/icons8-ambulance-48.png')}}" alt="Ambulance" 
		width="50" style="margin-right: 10px;">
		<span style="position: relative; top: -15px;">Emerge Connect</span>
		</h2>
		<p>I participated in an ideathon, in October 2023, where my team and I presented a concept for an online campus 
		clinic appointment system. The main objective of the system was to simplify and streamline the 
		booking process for students seeking medical assistance. We were only required to produce a 
		prototype and not develop the full system; the focus was on presenting a clear and impactful idea.  
		By improving accessibility and reducing waiting times, our idea aimed to address a common 
		challenge faced by students. Our concept was well-received and ranked in the Top 10 among all 
		presentations delivered on the day.
		</p>
		<a href="https://github.com/KaziiM20/Emerge-Connect" 
		style="display: inline-block; padding: 10px 20px; background-color: #24292e; color: white; text-decoration: none; 
		border: none; border-radius: 5px; font-family: Arial, sans-serif; cursor: pointer;">View on GitHub</a>
	</div>
	<br><br>
	
	<div class="project"; style="color:white;">
		<h2 style="color: white; margin: 0;">
		<img src="{{url_for('static',filename='images/icons8-clinic-48.png')}}" alt="Clinic" 
		width="50" style="margin-right: 10px;">
		<span style="position: relative; top: -10px;">Campus Clinic Telephonic Booking System</span>
		</h2>
		<p>As part of a group project for the Systems Analysis and Design module, we developed a 
		telephonic clinic appointment booking system. The system allowed students to schedule appointments 
		based on available nurses and time slots. It featured a database to store appointment details 
		securely and included a notification feature that automatically alerted users once a booking was 
		confirmed. This project emphasized practical application of system design and database integration.
		</p>
		<a href="https://github.com/citylyf/CMPG223" style="display: inline-block; padding: 10px 20px; 
		background-color: #24292e; color: white; text-decoration: none; border: none; border-radius: 5px; 
		font-family: Arial, sans-serif; cursor: pointer;">View on GitHub</a>
	</div>
	<br><br>
	
	<div class="project"; style="color:white;">
		<h2 style="color: white; margin: 0;">
		<img src="{{url_for('static',filename='images/icons8-clapperboard-50.png')}}" alt="Clapperboard" 
		width="50" style="margin-right: 10px;">
		<span style="position: relative; top: -10px;">Kazi Movie Streaming Services</span>
		</h2>
		<p>In this project, I worked with a team to design a database system for a movie streaming 
		service. The system was designed to handle user subscriptions, track movie availability based on 
		geographic regions, and categorize content to create a more personalized viewing experience. 
		Our focus was primarily on the back-end, where we developed the structure for efficient data 
		storage and user data management. This project strengthened my skills in database development and 
		collaborative software planning.
		</p>
		<a href="https://github.com/KaziiM20/Kazii-Movie-Streaming-Service" style="display: inline-block; 
		padding: 10px 20px; background-color: #24292e; color: white; text-decoration: none; border: none; 
		border-radius: 5px; font-family: Arial, sans-serif; cursor: pointer;">View on GitHub</a>
	</div>
	<br><br>
	
	<div class="project"; style="color:white;">
		<h2 style="color: white; margin: 0;">
		<img src="{{url_for('static',filename='images/icons8-electricity-50.png')}}" alt="Electricity Grid" 
		width="50" style="margin-right: 10px;">
		<span style="position: relative; top: -10px;">Off-Grid</span>
		</h2>
		<p>My group and I developed a game called Off-Grid using Scratch. Off-Grid is designed to educate 
		users about the consequences of load shedding and to introduce them to alternative power sources 
		that can help minimize power outages. The game targets individuals in small communities, aiming to 
		raise awareness among those who may be unaware of alternative energy options or have received 
		inaccurate information. By engaging players, Off-Grid seeks to foster understanding and encourage 
		informed decisions about power usage. <br><br>According to Head (2021), load shedding began in 2007, and 
		since then, new scheduling systems have been introduced. Our game incorporates this historical 
		context to help users better understand the origins and ongoing challenges of load shedding. 
		Additionally, Off-Grid highlights the benefits of various renewable energy sources, with the goal 
		of empowering community members with practical knowledge and sustainable solutions.
		</p>
		<a href="https://github.com/KayG11/Off-Grid-The-Game" style="display: inline-block; 
		padding: 10px 20px; background-color: #24292e; color: white; text-decoration: none; border: none; 
		border-radius: 5px; font-family: Arial, sans-serif; cursor: pointer;">View on GitHub</a>
	</div>
	
	<br><br><br>
	
</body>
</html>